<!DOCTYPE html>
<html lang="en" ng-app="zhsApp">
<head>
    <meta charset="UTF-8">
    <title>Zenhub Stats</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="../src/app.js"></script>

</head>
<body ng-controller="zhsCtrl">
<div layout="column">
    <div layout="row" layout-align="start start">
        <span flex="5"></span>
    <span flex="30">
    <form name="userForm">
        <md-input-container class="md-block">
            <label>Github Key</label>
            <input minlength="30" ng-model="user.key">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Issue Number</label>
            <input maxlength="4" ng-model="issue_number">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Repo</label>
            <input ng-model="repo_number">
        </md-input-container>
        <md-input-container>
            <label>Repo</label>
                 <md-select ng-model="select_repo">
                <md-option value="Prod Dev">
                      Product Development
                </md-option>
                <md-option value="Analytics">
                    Analytics
                </md-option>
        </md-input-container>
        <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
    Switch 2 (md-warn): {{ data.cb2 }}
  </md-switch>
    </form>
        </span>
        <md-button class="md-raised">Submit</md-button>
    </div>
    <div layout="row">
    <span flex="5">
    </span>
        <div flex="30">
            <ul>
                <li ng-repeat="board in board.pipelines">
                    ({{board.issues.length}}) {{board.name}}
                </li>
            </ul>
        </div>
    </div>
    <div>
        <pre style="overflow:hidden" id="pie"></pre>
    </div>
    <div>
        <md-content>
            {{issue}}
        </md-content>
    </div>
    WHAT????
    <div>
        <md-content>
            {{issueevents}}
        </md-content>
    </div>
</div>
</body>
</html>